{% extends "base.html" %}

{% block title %}
    Control
{% endblock %}

{% block body %}
    <form action="#" method="post">
        <select name="rsi" class="form-select" aria-label="Default select example">
          <option selected>Max RSI</option>
          <option value='70'>Default 70</option>
          <option value='75'>75</option>
          <option value='80'>80</option>
          <option value='85'>85</option>
          <option value='90'>90</option>
          <option value='100'>Ignore</option>
        </select>
        <br>
        <select name="mode" class="form-select" aria-label="Default select example">
          <option selected>Select mode</option>
          <option value="simulator">Simulator</option>
          <option value="consulting">Consulting</option>
          <option value="trading">Trading</option>
        </select>
        <br>
        <select name="assetA" class="form-select" aria-label="Default select example">
          <option selected>Select asset A</option>
          <option value="ZRX">Ox</option>
          <option value="1INCH">1inch</option>
          <option value="AAVE">Aave</option>
          <option value="GHST">Aavegotchi</option>
          <option value="ACA">Acala</option>
          <option value="AGLD">Adventure gold</option>
          <option value="AKT">Akash</option>
          <option value="ALCX">Alchemix</option>
          <option value="ACH">Alchemy pay</option>
          <option value="ALGO">Algorand</option>
          <option value="TLM">Alien words</option>
          <option value="ALPHA">Alpha venture</option>
          <option value="AIR">Altair</option>
          <option value="ADX">Ambire AdEx</option>
          <option value="FORTH">Ampleforth</option>
          <option value="ANKR">Ankr</option>
          <option value="APE">ApeCoin</option>
          <option value="API3">API3</option>
          <option value="ANT">Aragon</option>
          <option value="ARPA">Arpa</option>
          <option value="ASTR">Astar</option>
          <option value="AUDIO">Audius</option>
          <option value="REP">Augur</option>
          <option value="REPV2">Augur v2</option>
          <option value="AVAX">Avalance</option>
          <option value="AXS">Axie Infinity</option>
          <option value="BADGER">Badger DAO</option>
          <option value="BNT">Balancer</option>
          <option value="BAL">Bancor</option>
          <option value="BAND">Band Protocol</option>
          <option value="BOND">Barnbridge</option>
          <option value="BAT">Basic Attention Token</option>
          <option value="BSX">Basilisk</option>
          <option value="BICO">Biconomy</option>
          <option value="BNC">Bitfrost</option>
          <option value="BTC">Bitcoin</option>
          <option value="BCH">Bitcoin cash</option>
          <option value="BIT">BitDAO</option>
          <option value="BTT">Bittorrent</option>
          <option value="BLZ">Bluzelle</option>
          <option value="BOBA">Boba</option>
          <option value="FIDA">Bonfida</option>
          <option value="ADA">Cardano</option>
          <option value="CTSI">Cartesi</option>
          <option value="CELR">Celer</option>
          <option value="CFG">Centrifuge</option>
          <option value="XCN">Chain</option>
          <option value="LINK">Chainlink</option>
          <option value="CHZ">Chiliz</option>
          <option value="CHR">Chromia</option>
          <option value="CVC">Civic</option>
          <option value="COMP">Compound</option>
          <option value="CVX">Convex</option>
          <option value="ATOM">Cosmos</option>
          <option value="COTI">COTI</option>
          <option value="CQT">Covalent</option>
          <option value="CSM">Crust Shadow</option>
          <option value="CRV">Curve</option>
          <option value="DAI">Dai</option>
          <option value="DASH">Dash</option>
          <option value="MANA">Decentraland</option>
          <option value="DENT">Dent</option>
          <option value="DOGE">Dogecoin</option>
          <option value="DYDX">dYdX</option>
          <option value="EGLD">Elrond</option>
          <option value="EWT">Energy web token</option>
          <option value="ENJ">Enjin</option>
          <option value="MLN">Enzyme finance</option>
          <option value="EOS">EOS</option>
          <option value="ETH">Ethereum</option>
          <option value="ETC">Ethereum classic</option>
          <option value="ENS">Ethereum Naming service</option>
          <option value="FTM">Fantom</option>
          <option value="FET">Fetch.ai</option>
          <option value="FIL">Filecoin</option>
          <option value="FLOW">Flow</option>
          <option value="FXS">Frax</option>
          <option value="GALA">Gala Games</option>
          <option value="GARI">Gari</option>
          <option value="MV">GensoKishi Metaverse</option>
          <option value="GTC">Gitcoin</option>
          <option value="GNO">Gnosis</option>
          <option value="GST">Green Satoshi</option>
          <option value="FARM">Harvest</option>
          <option value="ICX">Icon</option>
          <option value="IMX">Immutable X</option>
          <option value="INJ">Injective protocol</option>
          <option value="TEER">Integritee</option>
          <option value="INTR">Interlay</option>
          <option value="ICP">Internet Computer</option>
          <option value="JASMY">Jasmy</option>
          <option value="JUNO">JUNO</option>
          <option value="KAR">Karura</option>
          <option value="KAVA">Kava</option>
          <option value="KEEP">Keep network</option>
          <option value="KP3R">Keep3r Network</option>
          <option value="ROOK">KeeperDAO</option>
          <option value="KILT">KILT</option>
          <option value="KIN">Kin</option>
          <option value="KINT">Kintsugi</option>
          <option value="KSM">Kushama</option>
          <option value="KNC">Kyber Network</option>
          <option value="LDO">Lido Dao</option>
          <option value="LCX">Liechtenstein</option>
          <option value="LSK">Lisk</option>
          <option value="LTC">Litecoin</option>
          <option value="LPT">Livepeer</option>
          <option value="LRC">Loopring</option>
          <option value="MNGO">Mango</option>
          <option value="MC">Merit</option>
          <option value="MULTI">Multichain</option>
          <option value="MXC">MXC</option>
          <option value="ALICE">Neighbor Alice</option>
          <option value="MKR">Maker</option>
          <option value="MSOL">Marinade SOL</option>
          <option value="POND">Marlin</option>
          <option value="MASK">Mask</option>
          <option value="MINA">Mina</option>
          <option value="MIR">Mirror protocol</option>
          <option value="XMR">Monero</option>
          <option value="GLMR">Moonbeam</option>
          <option value="MOVR">Moonriver</option>
          <option value="ALICE">My Neighbor Alice</option>
          <option value="NANO">Nano</option>
          <option value="NEAR">Near</option>
          <option value="NODL">Nodle</option>
          <option value="NMR">Numeraire</option>
          <option value="NYM">Nym</option>
          <option value="OCEAN">Ocean</option>
          <option value="OMG">OmiseGO</option>
          <option value="ORCA">Orca</option>
          <option value="OXT">Orchid</option>
          <option value="OGN">Origin protocol</option>
          <option value="OXY">Oxygen</option>
          <option value="PAXG">PAX Gold</option>
          <option value="PERP">Perpetual protocol</option>
          <option value="PHA">Phala</option>
          <option value="PLA">PlayDapp</option>
          <option value="DOT">Polkadot</option>
          <option value="POLS">Polkastarter</option>
          <option value="MATIC">Polygon</option>
          <option value="POWR">Powerledger</option>
          <option value="PSTAKE">pSTAKE</option>
          <option value="QTUM">Qtum</option>
          <option value="QNT">Quant</option>
          <option value="RARI">Rarible</option>
          <option value="RAY">Raydium</option>
          <option value="REN">REN protocol</option>
          <option value="RNDR">Render</option>
          <option value="REQ">Request</option>
          <option value="XRP">Ripple</option>
          <option value="XRT">Robonomics</option>
          <option value="RBC">Rubic</option>
          <option value="SBR">Saber</option>
          <option value="SAMO">Samoyed</option>
          <option value="SCRT">Secret</option>
          <option value="KEY">Selfkey</option>
          <option value="SRM">Serum</option>
          <option value="SHIB">Shiba Inu</option>
          <option value="SDN">Shiden</option>
          <option value="SC">Siacoin</option>
          <option value="SOL">Solana</option>
          <option value="SGB">Songbird</option>
          <option value="SPELL">Spell</option>
          <option value="ATLAS">Star Atlas</option>
          <option value="POLIS">Star Atlas DAO </option>
          <option value="XLM">Stellar Lumens</option>
          <option value="STEP">Step Finance</option>
          <option value="GMT">Stepn</option>
          <option value="STORJ">Storj</option>
          <option value="SUSHI">Sushi</option>
          <option value="RAD">Radicle</option>
          <option value="FIS">StaFi</option>
          <option value="SUPER">SuperFarm</option>
          <option value="RARE">SuperRare</option>
          <option value="SNX">Synthetix</option>
          <option value="TBTC">tBTC</option>
          <option value="LUNA2">Terra 2.0</option>
          <option value="LUNA">Terra Classic</option>
          <option value="UST">TerraUSD</option>
          <option value="TVK">Terra virtual kolect</option>
          <option value="USDT">Tether</option>
          <option value="XTZ">Tezos</option>
          <option value="GRT">The Graph</option>
          <option value="SAND">The Sandbox</option>
          <option value="RUNE">Thorchain</option>
          <option value="T">Threshold</option>
          <option value="TOKE">Tokemak</option>
          <option value="TRIBE">Tribe</option>
          <option value="TRX">Tron</option>
          <option value="TRU">TrueFi</option>
          <option value="UNI">Uniswap</option>
          <option value="UNFI">Unifi</option>
          <option value="UMA">Universal Market</option>
          <option value="USDC">USD Coin</option>
          <option value="WAVES">WAVES</option>
          <option value="WOO">Woo Network</option>
          <option value="WBTC">Wrapped Bitcoin</option>
          <option value="YFI">Yearn Finance</option>
          <option value="YGG">Yield Guild Games</option>
          <option value="ZEC">Zcash</option>
          <option value="USD">US Dollar</option>
          <option value="EUR">Euro</option>
          <option value="GBP">Pound Sterling</option>
          <option value="AUD">Australian Dollar</option>
          <option value="CAD">Canadian Dollar</option>
          <option value="JPY">Japanese Yen</option>
          <option value="CHF">Swiss Franc</option>
          <option value="AED">UAE Dirham</option>
        </select>
        <br>
        <select name="assetB" class="form-select" aria-label="Default select example">
          <option selected>Select asset B</option>
          <option value="ZRX">Ox</option>
          <option value="1INCH">1inch</option>
          <option value="AAVE">Aave</option>
          <option value="GHST">Aavegotchi</option>
          <option value="ACA">Acala</option>
          <option value="AGLD">Adventure gold</option>
          <option value="AKT">Akash</option>
          <option value="ALCX">Alchemix</option>
          <option value="ACH">Alchemy pay</option>
          <option value="ALGO">Algorand</option>
          <option value="TLM">Alien words</option>
          <option value="ALPHA">Alpha venture</option>
          <option value="AIR">Altair</option>
          <option value="ADX">Ambire AdEx</option>
          <option value="FORTH">Ampleforth</option>
          <option value="ANKR">Ankr</option>
          <option value="APE">ApeCoin</option>
          <option value="API3">API3</option>
          <option value="ANT">Aragon</option>
          <option value="ARPA">Arpa</option>
          <option value="ASTR">Astar</option>
          <option value="AUDIO">Audius</option>
          <option value="REP">Augur</option>
          <option value="REPV2">Augur v2</option>
          <option value="AVAX">Avalance</option>
          <option value="AXS">Axie Infinity</option>
          <option value="BADGER">Badger DAO</option>
          <option value="BNT">Balancer</option>
          <option value="BAL">Bancor</option>
          <option value="BAND">Band Protocol</option>
          <option value="BOND">Barnbridge</option>
          <option value="BAT">Basic Attention Token</option>
          <option value="BSX">Basilisk</option>
          <option value="BICO">Biconomy</option>
          <option value="BNC">Bitfrost</option>
          <option value="BTC">Bitcoin</option>
          <option value="BCH">Bitcoin cash</option>
          <option value="BIT">BitDAO</option>
          <option value="BTT">Bittorrent</option>
          <option value="BLZ">Bluzelle</option>
          <option value="BOBA">Boba</option>
          <option value="FIDA">Bonfida</option>
          <option value="ADA">Cardano</option>
          <option value="CTSI">Cartesi</option>
          <option value="CELR">Celer</option>
          <option value="CFG">Centrifuge</option>
          <option value="XCN">Chain</option>
          <option value="LINK">Chainlink</option>
          <option value="CHZ">Chiliz</option>
          <option value="CHR">Chromia</option>
          <option value="CVC">Civic</option>
          <option value="COMP">Compound</option>
          <option value="CVX">Convex</option>
          <option value="ATOM">Cosmos</option>
          <option value="COTI">COTI</option>
          <option value="CQT">Covalent</option>
          <option value="CSM">Crust Shadow</option>
          <option value="CRV">Curve</option>
          <option value="DAI">Dai</option>
          <option value="DASH">Dash</option>
          <option value="MANA">Decentraland</option>
          <option value="DENT">Dent</option>
          <option value="DOGE">Dogecoin</option>
          <option value="DYDX">dYdX</option>
          <option value="EGLD">Elrond</option>
          <option value="EWT">Energy web token</option>
          <option value="ENJ">Enjin</option>
          <option value="MLN">Enzyme finance</option>
          <option value="EOS">EOS</option>
          <option value="ETH">Ethereum</option>
          <option value="ETC">Ethereum classic</option>
          <option value="ENS">Ethereum Naming service</option>
          <option value="FTM">Fantom</option>
          <option value="FET">Fetch.ai</option>
          <option value="FIL">Filecoin</option>
          <option value="FLOW">Flow</option>
          <option value="FXS">Frax</option>
          <option value="GALA">Gala Games</option>
          <option value="GARI">Gari</option>
          <option value="MV">GensoKishi Metaverse</option>
          <option value="GTC">Gitcoin</option>
          <option value="GNO">Gnosis</option>
          <option value="GST">Green Satoshi</option>
          <option value="FARM">Harvest</option>
          <option value="ICX">Icon</option>
          <option value="IMX">Immutable X</option>
          <option value="INJ">Injective protocol</option>
          <option value="TEER">Integritee</option>
          <option value="INTR">Interlay</option>
          <option value="ICP">Internet Computer</option>
          <option value="JASMY">Jasmy</option>
          <option value="JUNO">JUNO</option>
          <option value="KAR">Karura</option>
          <option value="KAVA">Kava</option>
          <option value="KEEP">Keep network</option>
          <option value="KP3R">Keep3r Network</option>
          <option value="ROOK">KeeperDAO</option>
          <option value="KILT">KILT</option>
          <option value="KIN">Kin</option>
          <option value="KINT">Kintsugi</option>
          <option value="KSM">Kushama</option>
          <option value="KNC">Kyber Network</option>
          <option value="LDO">Lido Dao</option>
          <option value="LCX">Liechtenstein</option>
          <option value="LSK">Lisk</option>
          <option value="LTC">Litecoin</option>
          <option value="LPT">Livepeer</option>
          <option value="LRC">Loopring</option>
          <option value="MNGO">Mango</option>
          <option value="MC">Merit</option>
          <option value="MULTI">Multichain</option>
          <option value="MXC">MXC</option>
          <option value="ALICE">Neighbor Alice</option>
          <option value="MKR">Maker</option>
          <option value="MSOL">Marinade SOL</option>
          <option value="POND">Marlin</option>
          <option value="MASK">Mask</option>
          <option value="MINA">Mina</option>
          <option value="MIR">Mirror protocol</option>
          <option value="XMR">Monero</option>
          <option value="GLMR">Moonbeam</option>
          <option value="MOVR">Moonriver</option>
          <option value="ALICE">My Neighbor Alice</option>
          <option value="NANO">Nano</option>
          <option value="NEAR">Near</option>
          <option value="NODL">Nodle</option>
          <option value="NMR">Numeraire</option>
          <option value="NYM">Nym</option>
          <option value="OCEAN">Ocean</option>
          <option value="OMG">OmiseGO</option>
          <option value="ORCA">Orca</option>
          <option value="OXT">Orchid</option>
          <option value="OGN">Origin protocol</option>
          <option value="OXY">Oxygen</option>
          <option value="PAXG">PAX Gold</option>
          <option value="PERP">Perpetual protocol</option>
          <option value="PHA">Phala</option>
          <option value="PLA">PlayDapp</option>
          <option value="DOT">Polkadot</option>
          <option value="POLS">Polkastarter</option>
          <option value="MATIC">Polygon</option>
          <option value="POWR">Powerledger</option>
          <option value="PSTAKE">pSTAKE</option>
          <option value="QTUM">Qtum</option>
          <option value="QNT">Quant</option>
          <option value="RARI">Rarible</option>
          <option value="RAY">Raydium</option>
          <option value="REN">REN protocol</option>
          <option value="RNDR">Render</option>
          <option value="REQ">Request</option>
          <option value="XRP">Ripple</option>
          <option value="XRT">Robonomics</option>
          <option value="RBC">Rubic</option>
          <option value="SBR">Saber</option>
          <option value="SAMO">Samoyed</option>
          <option value="SCRT">Secret</option>
          <option value="KEY">Selfkey</option>
          <option value="SRM">Serum</option>
          <option value="SHIB">Shiba Inu</option>
          <option value="SDN">Shiden</option>
          <option value="SC">Siacoin</option>
          <option value="SOL">Solana</option>
          <option value="SGB">Songbird</option>
          <option value="SPELL">Spell</option>
          <option value="ATLAS">Star Atlas</option>
          <option value="POLIS">Star Atlas DAO </option>
          <option value="XLM">Stellar Lumens</option>
          <option value="STEP">Step Finance</option>
          <option value="GMT">Stepn</option>
          <option value="STORJ">Storj</option>
          <option value="SUSHI">Sushi</option>
          <option value="RAD">Radicle</option>
          <option value="FIS">StaFi</option>
          <option value="SUPER">SuperFarm</option>
          <option value="RARE">SuperRare</option>
          <option value="SNX">Synthetix</option>
          <option value="TBTC">tBTC</option>
          <option value="LUNA2">Terra 2.0</option>
          <option value="LUNA">Terra Classic</option>
          <option value="UST">TerraUSD</option>
          <option value="TVK">Terra virtual kolect</option>
          <option value="USDT">Tether</option>
          <option value="XTZ">Tezos</option>
          <option value="GRT">The Graph</option>
          <option value="SAND">The Sandbox</option>
          <option value="RUNE">Thorchain</option>
          <option value="T">Threshold</option>
          <option value="TOKE">Tokemak</option>
          <option value="TRIBE">Tribe</option>
          <option value="TRX">Tron</option>
          <option value="TRU">TrueFi</option>
          <option value="UNI">Uniswap</option>
          <option value="UNFI">Unifi</option>
          <option value="UMA">Universal Market</option>
          <option value="USDC">USD Coin</option>
          <option value="WAVES">WAVES</option>
          <option value="WOO">Woo Network</option>
          <option value="WBTC">Wrapped Bitcoin</option>
          <option value="YFI">Yearn Finance</option>
          <option value="YGG">Yield Guild Games</option>
          <option value="ZEC">Zcash</option>
          <option value="USD">US Dollar</option>
          <option value="EUR">Euro</option>
          <option value="GBP">Pound Sterling</option>
          <option value="AUD">Australian Dollar</option>
          <option value="CAD">Canadian Dollar</option>
          <option value="JPY">Japanese Yen</option>
          <option value="CHF">Swiss Franc</option>
          <option value="AED">UAE Dirham</option>
          <input type="submit" value="submit"/>
        </select>
    </form>
    <a href="https://support.kraken.com/hc/en-us/articles/201893658-Currency-pairs-available-for-trading-on-Kraken">
      Please be sure your trading asset pair of choice is supported by kraken.</a>
    <br>
    <a href='/start'><input type='button' value='Start'></a>
    <a href='/stop'><input type='button' value='Stop'></a>
    <a href='/cancel'><input type='button' value='Cancel active order'></a>
{% endblock %}
