{% extends "base.html" %}

{% block title %}
    User's manual
{% endblock %}

{% block body %}
<h2>Hermes</h2>
<p>Real time, multiple time frame, consulting-trading bot application, </p>
<p>interpretation of Alexander Elder's "triple screen" forex market trading strategy.</p>
<h5>The strategy.</h5>
<p>
    The strategy is using data from three time frames, calculating indicators on first two and acts on the third.
</p>
<p>
    First frame used for establishing a trading bias.
    <br>
    Second frame applies technical indicators to identify retracements against the trading bias established earlier.
    <br>
    Third frame is used for timing entries using short-term breakouts in the direction of your trading bias.
</p>
<p>Program starts with higher degree time frame and subsequently downgrades time frames lower progressively.
<p>Frames combinations:
    <br>Combination 1: High 24hours - mid 4 hours - low 1 hour.
    <br>Combination 2: High 4 hours - mid 1 hour - low 15 min.
</p>
<h5>Evaluation phases</h5>
<p>
    1) Trend. The long-term trend is evaluated.
    – Alex Elder calls this as being the tide, and it's evaluation gives the general trend direction.
<br>
    2) Correction. The medium-term trend is evaluated.
    – This trend is also known as the wave, gives the trend momentum strength and position.
<br>
    3) Specification.
    - The short-term trend – It is also referred to as the ripple used to set limits of buy and stop loss.
    Exact entry point is corrected by closely monitoring price movement.
</p>
<p>
<h5>High frame.</h5>
<p>
    General trend can be detected with the use of 200 periods EMA, combination of 9, 20, 50 periods EMA, macd, etc.
    According to Elder the highly profitable spectrum of a positive trend is when price overcomes a pullback,
    entering the bullish zone.<br>
    In our case a preset combination of 13p EMA and macd indicators (Closing > EMA13 and macd > 0)
    is used to determine the high frame trend.
</p>
<h5>Mid frame.</h5>
<p>
    Trend momentum and position is detected with the use of stochastic slow indicator.
    Stochastic fast can be used for quicker response but in this case more force signals are generated.
    Stochastic slow is used as it is a 'smothered' version of stoch fast. (d > ds > 20 buy Flag / d < ds < 80 sell Flag)
    An additional indicator of strength is added (RSI) as choice for safety reasons,
    as when current price strength is above 70,
    price is actually 'overbought' and probability of descent is high.
    Additionally, if trend frame period momentum is negative the program will not buy.
    Same rule will not apply in reverse when selling an asset.
</p>
<h5>Low frame.</h5>
<p>
    When conditions are aligned in the higher frames action limits are set,
    according to the last low frame closed candle range.
    Next candle price gives action flag or sets new limits.
    Low frame current candle ATR is added to the limit and subtracted to stop-loss, so current volatility
    of the price is taken into consideration to avoid false levels.
    Reevaluation of limits can be taken after a full candle period.
    Momentum is checked every minute and in case of reversal code exits low frame evaluation and reevaluates momentum every five minutes.
</p>
<a href="https://en.wikipedia.org/wiki/Alexander_Elder">Wiki/Elder</a>,

<a href="https://www.elder.com/">elder.com</a>,

<a href="https://tradingstrategyguides.com/alexander-elder-trading-strategy-the-triple-screen/">tradingstrategyguides.com</a>,

<a href="https://www.elearnmarkets.com/blog/triple-screen-trading-method-alexander-elder-way-trading/">www.elearnmarkets.com</a>
<br>
<h2>Instructions.</h2>
<h5>Setting up your credentials:</h5>
<p>(This process needs to be done only once.)</p>
<p>1) Go to <a href="https://www.kraken.com/">kraken.com</a> and log in or create a new account.</p>
<p>2) Then proceed to support:
    <a href="https://support.kraken.com/hc/en-us/articles/360000919966-How-to-generate-an-API-key-pair-">
        How to generate an API key pair</a><br>
     and follow instructions to create your personal API key and Secret Key.<br>
    These are essential for your app operation. The app will use them access your account.
</p>
<p>3) Carefully save your API_KEY_KRAKEN, API_SEC_KRAKEN and LICENCE_KEY_SPRING.<br>
    If you loose them you will have to generate new.</p>
<p> A. Proceed to your windows "Control panel".<br>
    B. Click on "System and security".<br>
    C. Navigate to "System" and "Advanced system settings".<br>
    D. Navigate to "Advanced" and "Environment variables".<br>
    E. Click "New" button under "User variables" window.<br>
    F. Type or paste API_KEY_KRAKEN on "Variable name" input field and your Api key on "Variable value" input field.<br>
    G. Repeat "E" step for API_SEC_KRAKEN and LICENCE_KEY_SPRING.<br>
    type or paste API_SEC_KRAKEN on "Variable name" input field and your Api secret key on "Variable value" input field etc.<br>
    Now you have safely stored your credentials, and you can operate your app.
</p>
<p>
    <h5>Operating your app:</h5>
    <p>
        A. Click "control" on nav bar field.<br>
        B. Select reward/risk ratio, number of low frame evaluations per period (after first full evaluation),<br>
        max RSI, min %ATR, mode, assets pair and press submit button.<br>
        PLEASE BE SURE YOUR CHOICE IS SUPPORTED BEFORE YOU SUBMIT!!!<br>
    </p>
<h3>General info:</h3>
<p>
    On "Simulator" mode, app ignores private balance and starts evaluating,<br>
    given pair of assets from willing to 'buy' position.<br>
    On "Consulting" mode app will only process data in real time and advice you<br>
    to manually place or cancel orders on your trading platform.<br>
    On "Trading" mode app will automatically place these orders.
    <p>
    The app is designed to operate in Windows systems.<br>
    Using Kraken trading platform to collect data and trade.<br>
    "Stop bot" button terminates the app operation after the completion<br>
    of current evaluation period.<br>
    Message appears on Overview when done.<br>
    "Cancel active order" has immediate effect.<br>
    In stop-loss/limit levels an extra margin of current atr (average true range) is added,<br>
    to include the volatility factor and limit false positioning.<br>
    After setting a buy order, a safety "pillow" level is stored as a safety parameter.<br>
    It is the 'low' of mid-frame candle minus mid-frame atr.<br>
    In the case of starting the program while an asset is bought and conditions to sell it are evaluated,<br>
    pillow is set to current price minus 4% and is reset after each evaluation circle.
</p>
<p>
    FOR ANY ISSUES OR ADDITIONAL INFORMATION PLEASE CONTACT TECHNICAL SUPPORT Hermes_algotrading@proton.me
</p>

</p>
{% endblock %}