{% extends "base.html" %}

{% block title %}
    User's manual
{% endblock %}

{% block body %}
<h2>Hermes</h2>
<p>Real time, multiple time frame, simulating-consulting-trading bot application. </p>
<p>Based on Marco's Lopez de Prado method.</p>
<p>Interpretation of Alexander Elder's "triple screen" forex market trading strategy.</p>
<h5>The strategy.</h5>
<p>
    The strategy is using data from three time frames, calculating indicators on first two and acts on the third.
</p>
<p>
    First frame used for establishing a trading bias.
    <br>
    Second frame applies technical indicators to identify retracements against the trading bias established earlier.
    <br>
    Third frame is used for timing entries using short-term breakouts in the direction of your trading bias.
</p>
<p>Frames combination:
    <br>Combination 1: High 24hours - mid 4 hours - low 30 minutes.
</p>
<h5>Evaluation.</h5>
<p>
    1) Real time analysis on 30 minute ohlc (candlestick bars). Detected cusum filter and bollinger bands crossing co events.
<br>
    2) Use of two serial classificator models to predict price movement. First model predicts price movement and second
    predicts false or true prediction of first model using meta labels.
<br>
    3) Regression model used for risk and profit - stop loss levels set.
<br>
    4) Movement and risk re-evaluation, after every following co event.
<br>
    Models are using features from all three time frames to evaluate causation between conditions and result
    according to Trend, momentum, volatility and other characteristics of price behaviour.
</p>
<p>

<a href="https://en.wikipedia.org/wiki/Alexander_Elder">Wiki/Elder</a>,

<a href="https://www.elder.com/">elder.com</a>,

<a href="https://tradingstrategyguides.com/alexander-elder-trading-strategy-the-triple-screen/">tradingstrategyguides.com</a>,

<a href="https://www.elearnmarkets.com/blog/triple-screen-trading-method-alexander-elder-way-trading/">www.elearnmarkets.com</a>
<br>
<h2>Instructions.</h2>
<h5>Setting up your credentials:</h5>
<p>(This process needs to be done only once.)</p>
<p>1) Go to <a href="https://www.kraken.com/">kraken.com</a> and log in or create a new account.</p>
<p>2) Then proceed to support:
    <a href="https://support.kraken.com/hc/en-us/articles/360000919966-How-to-generate-an-API-key-pair-">
        How to generate an API key pair</a><br>
     and follow instructions to create your personal API key and Secret Key.<br>
    These are essential for your app operation. The app will use them access your account.
</p>
<p>3) Carefully save your API_KEY_KRAKEN, API_SEC_KRAKEN and LICENCE_KEY_SPRING.<br>
    If you loose them you will have to generate new.</p>
<p> A. Proceed to your windows "Control panel".<br>
    B. Click on "System and security".<br>
    C. Navigate to "System" and "Advanced system settings".<br>
    D. Navigate to "Advanced" and "Environment variables".<br>
    E. Click "New" button under "User variables" window.<br>
    F. Type or paste API_KEY_KRAKEN on "Variable name" input field and your Api key on "Variable value" input field.<br>
    G. Repeat "E" step for API_SEC_KRAKEN and LICENCE_KEY_SPRING.<br>
    type or paste API_SEC_KRAKEN on "Variable name" input field and your Api secret key on "Variable value" input field etc.<br>
    Now you have safely stored your credentials, and you can operate your app.
</p>
<p>
    <h5>Operating your app:</h5>
    <p>
        A. Click "control" on nav bar field.<br>
        B. Select reward/risk ratio, number of low frame evaluations per period (after first full evaluation),<br>
        max RSI, min %ATR, mode, assets pair and press submit button.<br>
        PLEASE BE SURE YOUR CHOICE IS SUPPORTED BEFORE YOU SUBMIT!!!<br>
    </p>
<h3>General info:</h3>
<p>
    On "Simulator" mode, app ignores private balance and starts evaluating,<br>
    given pair of assets from willing to 'buy' position.<br>
    On "Consulting" mode app will only process data in real time and advice you<br>
    to manually place or cancel orders on your trading platform.<br>
    On "Trading" mode app will automatically place these orders.
    <p>
    The app is designed to operate in Windows systems.<br>
    Using Kraken trading platform to collect data and trade.<br>
    "Stop bot" button terminates the app operation after the completion<br>
    of current evaluation period.<br>
    Message appears on Overview when done.<br>
    "Cancel active order" has immediate effect.<br>
    In stop-loss/limit levels an extra margin of current atr (average true range) is added,<br>
    to include the volatility factor and limit false positioning.<br>
    After setting a buy order, a safety "pillow" level is stored as a safety parameter.<br>
    It is the 'low' of mid-frame candle minus mid-frame atr.<br>
    In the case of starting the program while an asset is bought and conditions to sell it are evaluated,<br>
    pillow is set to current price minus 4% and is reset after each evaluation circle.
</p>
<p>
    FOR ANY ISSUES OR ADDITIONAL INFORMATION PLEASE CONTACT TECHNICAL SUPPORT Hermes_algotrading@proton.me
</p>

</p>
{% endblock %}